body {
    background-image: linear-gradient(180deg, rgb(3, 95, 0), rgb(5, 150, 17));
    min-height: 100%;
    height: 100vh;
}

p {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 60px;
    color: rgb(247, 252, 251);
    margin-top: -10px
}

#kanwa {
    border: 10px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}